:root {
    --maincolor: yellow;
    --subcolor: rgb(30, 168, 30);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav{
    background-color: grey;
}
.menu ul{
    list-style: none;
    display: flex;
    background-color: grey;
}
.menu ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: var(--maincolor);
    font-size: 20px;
    /* transition-duration: 0.1s; */
}
.menu ul li {
    position: relative;

}
.menu .sub-menu{
    position: absolute;
    flex-direction: column;
    display: none;
    
}
.menu ul li:hover > .sub-menu {
    display: block;
}

.menu {
    font-size: 10px;
}
.sub-menu {
    height: auto;
    width: 180px;
    /* overflow-y: scroll; */
}

/* sub-sub */
.menu .sub-menu .sub-menu{
    left: 100%;
    top: 0;
    height: auto;
    /* transition-duration: 0.1s; */
}

/* + Để tạo menu nhiều cấp, dùng dấu '>' - nó sẽ chọn những thẻ là 
đúng thẻ con nhận thẻ cha để tác động vào. Ví dụ ở hiệu ứng :hover
    + áp dụng rất hữu ích ở menu nhiều cấp.
    + tìm hiểu thêm ở CSS reference selector (trên trang web W3School.com)*/

/* .sub-sub-menu{
    position: absolute;
    flex-direction: column;
    display: none;
    left: 100%;
    top: 0
}
.sub-menu ul li:hover .sub-sub-menu {
    display: flex;
}

.sub-menu ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: var(--maincolor);
}
.sub-menu ul li {
    position: relative;

} */


.menu-bars{
    display: flex;
    background-color: grey;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
}
.menu-bars i{
    color: var(--maincolor);
    
}

#nav-trigger{
    display: none;
}

/* Style button */
.btn {
    padding: 3px 8px;
    background: transparent; /* màu trong suốt */
    border: 0;
    cursor: pointer;
    text-align: center;   /* nếu button bọc trong thẻ a */
    display: inline-block; /*  thì phải thêm 2 dòng này */
    color: var(--maincolor);
    border-radius: 4px;
    font-size: 20px;
}
.btn-primary{
    background-color: var(--maincolor);
    color: grey;
}

@media (max-width: 687px) {
    #nav-trigger{
    display: inline-block;
}
    
    .menu ul{
        flex-direction: column;
    }
    .menu ul li{
        position: static;
    }
    .menu ul li a{
        padding: 10px;
    }
    .menu ul ul{
        position: static;
    }
    header nav{
        position: fixed;
        background: grey;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        box-shadow: 4px 0 10px 1px rgba(0, 0, 0, 0.25);
    }
}