* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-1{ 
    display: flex;
    /* flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; */
}
.item-1 {
    width: 25%;
    height: 100px;
    background-color: yellowgreen;
    border-radius: 15px;
    /* margin-right: 20px; */
}