@media (min-width: 768px) {

}

@media (min-width: 1200px) {
	#nav-trigger {
		display: none;
	}
	
	header nav {
		display: block;
		position: static;
		width: auto;
		box-shadow: none;
	}
	
	header nav ul {
		flex-direction: row;
	}
	
	header nav ul li:hover .sub-menu {
		display: block;
	}
}